* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.serch {
    text-decoration: none;
    color: black;
}

.jumbo {
    width: 100%;
    height: 500px; 
}

.uno {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
}

img {
    width: 100%;
    background-size: cover;
}
