* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.serch {
    text-decoration: none;
    color: black;
}

.jumbo {
    height: 700px; 
}

.uno {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
}

.due {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
}

img {
    width: 100%;
    background-size: cover;
}

.gray {
    background-color: rgb(31, 31, 31);
}

.lightgray {
    background-color: rgb(190, 188, 187);
}

.darkblue {
    background-color: rgb(22, 28, 59);
}

@media ( max-width: 768px) {

    .ps-plus-banner {
        display: none;
    }

}